@page "/"
@using StyledRazor.Lib.Styles
@inherits ButtonBase

<Stack>
  <Box>First</Box>

  <Grid MinWidth="220px">
    <BasicButton>Second</BasicButton>
    <Button Styled="@DynamicButton" @onclick="@Click">
      Dynamic
    </Button>
  </Grid>
  
  <Box Horizontal="@Tokens.SpacingM" Height="@Tokens.SpacingXl">
    <Cluster Space="@Tokens.SpacingL" Justify="@Tokens.AlignSpaceBetween" NoPadding Stretch>
      <Box Start>First</Box>
      <Box>Second</Box>
      <Box End>Third</Box>
    </Cluster>
  </Box>  
  
  <Stack Gutter="@Tokens.SpacingS">
    <Grid Gutter="@Tokens.SpacingS" ResponsiveColumns="@(new BreakPoints{{ "L", 4 },{ "M", 2 },{ "S", 1 }})" Ratio="1">
      @for (var i = 1; i < 5; i++ )
      {
        var content = "Item " + i;
        <GridItem>
          <Background Color="lightgrey">
            <Cover>
              <Container Centered>
                @content  
              </Container>
              <Cluster>
                Cluster
              </Cluster>
            </Cover>
          </Background>
        </GridItem>
      }
    </Grid>
      
    <Grid Gutter="@Tokens.SpacingS" MinWidth="@Tokens.SpacingXxl">
      @for (var i = 5; i < 8; i++ )
      {
        var content = "Item " + i;
        var item = i;
        <GridItem Double="@(item == 6)" Full="@(item == 7)">
          <Background Color="lightgrey">
            <Cover>
              <Container Centered>
                @content  
              </Container>
              <Cluster>
                Cluster
              </Cluster>
            </Cover>
          </Background>
        </GridItem>
      }
    </Grid>
  </Stack>
</Stack>

@code
{
  Styled DynamicButton { get; set; } = GreyButton;

  private void Click() => DynamicButton =
    DynamicButton.Name == "GreyButton"
      ? AlertButton
      : GreyButton;
}