@page "/"
@inherits ButtonBase

<Stack>
  <Box>First</Box>

  <GridList MinWidth="@Tokens.SpacingXXL">
      <BasicButton>Second</BasicButton>
      <Button Styled="@DynamicButton" @onclick="@Click">
        Dynamic
      </Button>
  </GridList>
  
  <Box Horizontal="@Tokens.SpacingM" Height="@Tokens.SpacingXXL">
    <Cluster Space="@Tokens.SpacingL" Justify="@Tokens.AlignSpaceBetween" NoPadding Stretch>
      <Box Start>First</Box>
      <Box>Second</Box>
      <Box End>Third</Box>
    </Cluster>
  </Box>
  
  <GridList Gutter="@Tokens.SpacingS" Cols="4" Ratio="1">
    @for (var i = 1; i < 5; i++ )
    {
      var content = "Item " + i;
      <GridItem>
          <Background Color="lightgrey">
            <Cover>
              <Container Centered>
                @content  
              </Container>
              <Cluster>
                Cluster
              </Cluster>
            </Cover>
        </Background>
      </GridItem>
    }
  </GridList>
  
  <GridList Gutter="@Tokens.SpacingS" MinWidth="@Tokens.SpacingXXL">
    @for (var i = 5; i < 9; i++ )
    {
      var content = "Item " + i;
      <GridItem>
        <Background Color="lightgrey">
          <Cover>
            <Container Centered>
              @content  
            </Container>
            <Cluster>
              Cluster
            </Cluster>
          </Cover>
        </Background>
      </GridItem>
    }
  </GridList>
</Stack>

@code
{
  Styled DynamicButton { get; set; } = GreyButton;

  private void Click() => DynamicButton =
    DynamicButton.Name == "GreyButton"
      ? AlertButton
      : GreyButton;
}