@page "/"
@using StyledRazor.Lib.Styles
@using StyledRazor.Core.Collections
@inherits ButtonBase

<Stack>
  <Box>First</Box>
  
  <Stack Gutter="@Tokens.SpacingM">
    <Grid MinWidth="200px">
      <BasicButton>Grid</BasicButton>
      <Button Styled="@GreyButton">
        Button
      </Button>
    </Grid>
    
    <Cluster Space="@Tokens.SpacingS" Grow NoPadding>
      <BasicButton>
        Cluster
      </BasicButton>
      <Button Styled="@DynamicButton" @onclick="@Click">
        Click me
      </Button>
    </Cluster>
  </Stack>
  
  <Box Horizontal="@Tokens.SpacingM" Height="@Tokens.SpacingXl">
    <Cluster Space="@Tokens.SpacingXl" NoPadding Stretch>
      <Box>Cluster</Box>
      <Box Start>Start</Box>
      <Box End>End</Box>
    </Cluster>
  </Box>  
  
  <Stack Gutter="@Tokens.SpacingS">
    <GridList Gutter="@Tokens.SpacingS" ResponsiveColumns="@(new BreakPoints{{ BreakPoint.Lg, 4 },{ BreakPoint.Md, 2 },{ BreakPoint.Sm, 1 }})" Ratio="1">
      @for (var i = 1; i < 5; i++ )
      {
        var content = "Item " + i;
        <GridItem>
          <Background Color="lightgrey">
            <Cover>
              <Container Centered>
                @content  
              </Container>
              <Cluster>
                Cluster
              </Cluster>
            </Cover>
          </Background>
        </GridItem>
      }
    </GridList>
      
    <GridList Gutter="@Tokens.SpacingS" MinWidth="@Tokens.SpacingXxl">
      @for (var i = 5; i < 8; i++ )
      {
        var content = "Item " + i;
        var item = i;
        <GridItem Double="@(item == 6)" Full="@(item == 7)">
          <Background Color="lightgrey">
            <Cover>
              <Container Centered>
                @content  
              </Container>
              <Cluster>
                Cluster
              </Cluster>
            </Cover>
          </Background>
        </GridItem>
      }
    </GridList>
  </Stack>
</Stack>

@code
{
  Styled DynamicButton { get; set; } = GreyButton;

  private void Click() => DynamicButton =
    DynamicButton.Name == "GreyButton"
      ? AlertButton
      : GreyButton;
}