@page "/"

@inherits UIComponents

<Stack Gutter="@Tokens.SpacingXL">
  <Container>First</Container>
  
  <GridList Cols="2">
    <Button Padding=@($"{Tokens.SpacingS} {Tokens.SpacingXXL}")>Second</Button>
    <Container Align="@Tokens.AlignCenter">
      <UI Styled="@DynamicButton" @onclick="@Click">
        Dynamic
      </UI>
    </Container>
  </GridList>
  <GridList Cols="4" Gutter="@Tokens.SpacingL" Height="@Tokens.SpacingXXL">
    @for (var i = 1; i < 9; i++ )
    {
      var content = "Item " + i;
      <li>
        <Box Padding="@($"{Tokens.SpacingM} {Tokens.SpacingS}")"
             Width="100%">
          <div>@content</div>
        </Box>
      </li>
    }
  </GridList>
</Stack>

@code
{
  Styled DynamicButton { get; set; } = GreyButton;

  private void Click() => DynamicButton =
    DynamicButton.Name == "GreyButton"
      ? AlertButton
      : GreyButton;
}