<router AppAssembly="@typeof(App).Assembly">
  <found Context="routeData">
    <routeview RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    <focusonnavigate RouteData="@routeData" Selector="h1"/>
  </found>
  <notfound>
    <pagetitle>Not found</pagetitle>
    <layoutview Layout="@typeof(MainLayout)">
      <p role="alert">Sorry, there's nothing at this address.</p>
    </layoutview>
  </notfound>
</router>